@font-face {
	font-family: 'et-line';
	src:url('../fonts/et-line.eot');
	src:url('../fonts/et-line.eot?#iefix') format('embedded-opentype'),
		url('../fonts/et-line.woff') format('woff'),
		url('../fonts/et-line.ttf') format('truetype'),
		url('../fonts/et-line.svg#et-line') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'entypo';
	src:url('../fonts/entypo.eot?8db0uj');
	src:url('../fonts/entypo.eot?8db0uj#iefix') format('embedded-opentype'),
		url('../fonts/entypo.ttf?8db0uj') format('truetype'),
		url('../fonts/entypo.woff?8db0uj') format('woff'),
		url('../fonts/entypo.svg?8db0uj#entypo') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'et-line';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display:inline-block;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-mobile, .icon-laptop, .icon-desktop, .icon-tablet, .icon-phone, .icon-document, .icon-documents, .icon-search, .icon-clipboard, .icon-newspaper, .icon-notebook, .icon-book-open, .icon-browser, .icon-calendar, .icon-presentation, .icon-picture, .icon-pictures, .icon-video, .icon-camera, .icon-printer, .icon-toolbox, .icon-briefcase, .icon-wallet, .icon-gift, .icon-bargraph, .icon-grid, .icon-expand, .icon-focus, .icon-edit, .icon-adjustments, .icon-ribbon, .icon-hourglass, .icon-lock, .icon-megaphone, .icon-shield, .icon-trophy, .icon-flag, .icon-map, .icon-puzzle, .icon-basket, .icon-envelope, .icon-streetsign, .icon-telescope, .icon-gears, .icon-key, .icon-paperclip, .icon-attachment, .icon-pricetags, .icon-lightbulb, .icon-layers, .icon-pencil, .icon-tools, .icon-tools-2, .icon-scissors, .icon-paintbrush, .icon-magnifying-glass, .icon-circle-compass, .icon-linegraph, .icon-mic, .icon-strategy, .icon-beaker, .icon-caution, .icon-recycle, .icon-anchor, .icon-profile-male, .icon-profile-female, .icon-bike, .icon-wine, .icon-hotairballoon, .icon-globe, .icon-genius, .icon-map-pin, .icon-dial, .icon-chat, .icon-heart, .icon-cloud, .icon-upload, .icon-download, .icon-target, .icon-hazardous, .icon-piechart, .icon-speedometer, .icon-global, .icon-compass, .icon-lifesaver, .icon-clock, .icon-aperture, .icon-quote, .icon-scope, .icon-alarmclock, .icon-refresh, .icon-happy, .icon-sad, .icon-facebook, .icon-twitter, .icon-googleplus, .icon-rss, .icon-tumblr, .icon-linkedin, .icon-dribbble {
	font-family: 'et-line';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display:inline-block;
}
.icon-mobile:before {
	content: "\e000";
}
.icon-laptop:before {
	content: "\e001";
}
.icon-desktop:before {
	content: "\e002";
}
.icon-tablet:before {
	content: "\e003";
}
.icon-phone:before {
	content: "\e004";
}
.icon-document:before {
	content: "\e005";
}
.icon-documents:before {
	content: "\e006";
}
.icon-search:before {
	content: "\e007";
}
.icon-clipboard:before {
	content: "\e008";
}
.icon-newspaper:before {
	content: "\e009";
}
.icon-notebook:before {
	content: "\e00a";
}
.icon-book-open:before {
	content: "\e00b";
}
.icon-browser:before {
	content: "\e00c";
}
.icon-calendar:before {
	content: "\e00d";
}
.icon-presentation:before {
	content: "\e00e";
}
.icon-picture:before {
	content: "\e00f";
}
.icon-pictures:before {
	content: "\e010";
}
.icon-video:before {
	content: "\e011";
}
.icon-camera:before {
	content: "\e012";
}
.icon-printer:before {
	content: "\e013";
}
.icon-toolbox:before {
	content: "\e014";
}
.icon-briefcase:before {
	content: "\e015";
}
.icon-wallet:before {
	content: "\e016";
}
.icon-gift:before {
	content: "\e017";
}
.icon-bargraph:before {
	content: "\e018";
}
.icon-grid:before {
	content: "\e019";
}
.icon-expand:before {
	content: "\e01a";
}
.icon-focus:before {
	content: "\e01b";
}
.icon-edit:before {
	content: "\e01c";
}
.icon-adjustments:before {
	content: "\e01d";
}
.icon-ribbon:before {
	content: "\e01e";
}
.icon-hourglass:before {
	content: "\e01f";
}
.icon-lock:before {
	content: "\e020";
}
.icon-megaphone:before {
	content: "\e021";
}
.icon-shield:before {
	content: "\e022";
}
.icon-trophy:before {
	content: "\e023";
}
.icon-flag:before {
	content: "\e024";
}
.icon-map:before {
	content: "\e025";
}
.icon-puzzle:before {
	content: "\e026";
}
.icon-basket:before {
	content: "\e027";
}
.icon-envelope:before {
	content: "\e028";
}
.icon-streetsign:before {
	content: "\e029";
}
.icon-telescope:before {
	content: "\e02a";
}
.icon-gears:before {
	content: "\e02b";
}
.icon-key:before {
	content: "\e02c";
}
.icon-paperclip:before {
	content: "\e02d";
}
.icon-attachment:before {
	content: "\e02e";
}
.icon-pricetags:before {
	content: "\e02f";
}
.icon-lightbulb:before {
	content: "\e030";
}
.icon-layers:before {
	content: "\e031";
}
.icon-pencil:before {
	content: "\e032";
}
.icon-tools:before {
	content: "\e033";
}
.icon-tools-2:before {
	content: "\e034";
}
.icon-scissors:before {
	content: "\e035";
}
.icon-paintbrush:before {
	content: "\e036";
}
.icon-magnifying-glass:before {
	content: "\e037";
}
.icon-circle-compass:before {
	content: "\e038";
}
.icon-linegraph:before {
	content: "\e039";
}
.icon-mic:before {
	content: "\e03a";
}
.icon-strategy:before {
	content: "\e03b";
}
.icon-beaker:before {
	content: "\e03c";
}
.icon-caution:before {
	content: "\e03d";
}
.icon-recycle:before {
	content: "\e03e";
}
.icon-anchor:before {
	content: "\e03f";
}
.icon-profile-male:before {
	content: "\e040";
}
.icon-profile-female:before {
	content: "\e041";
}
.icon-bike:before {
	content: "\e042";
}
.icon-wine:before {
	content: "\e043";
}
.icon-hotairballoon:before {
	content: "\e044";
}
.icon-globe:before {
	content: "\e045";
}
.icon-genius:before {
	content: "\e046";
}
.icon-map-pin:before {
	content: "\e047";
}
.icon-dial:before {
	content: "\e048";
}
.icon-chat:before {
	content: "\e049";
}
.icon-heart:before {
	content: "\e04a";
}
.icon-cloud:before {
	content: "\e04b";
}
.icon-upload:before {
	content: "\e04c";
}
.icon-download:before {
	content: "\e04d";
}
.icon-target:before {
	content: "\e04e";
}
.icon-hazardous:before {
	content: "\e04f";
}
.icon-piechart:before {
	content: "\e050";
}
.icon-speedometer:before {
	content: "\e051";
}
.icon-global:before {
	content: "\e052";
}
.icon-compass:before {
	content: "\e053";
}
.icon-lifesaver:before {
	content: "\e054";
}
.icon-clock:before {
	content: "\e055";
}
.icon-aperture:before {
	content: "\e056";
}
.icon-quote:before {
	content: "\e057";
}
.icon-scope:before {
	content: "\e058";
}
.icon-alarmclock:before {
	content: "\e059";
}
.icon-refresh:before {
	content: "\e05a";
}
.icon-happy:before {
	content: "\e05b";
}
.icon-sad:before {
	content: "\e05c";
}
.icon-facebook:before {
	content: "\e05d";
}
.icon-twitter:before {
	content: "\e05e";
}
.icon-googleplus:before {
	content: "\e05f";
}
.icon-rss:before {
	content: "\e060";
}
.icon-tumblr:before {
	content: "\e061";
}
.icon-linkedin:before {
	content: "\e062";
}
.icon-dribbble:before {
	content: "\e063";
}
/*******************************************************
********************* 1.GENERAL SETTINGS 
*******************************************************/
[class^="enicon-"], [class*=" enicon-"] {
	font-family: 'entypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.enicon-phone:before {
	content: "\e600";
}
.enicon-mobile:before {
	content: "\e601";
}
.enicon-mouse:before {
	content: "\e602";
}
.enicon-directions:before {
	content: "\e603";
}
.enicon-mail22:before {
	content: "\e604";
}
.enicon-paperplane2:before {
	content: "\e605";
}
.enicon-pencil:before {
	content: "\e606";
}
.enicon-feather:before {
	content: "\e607";
}
.enicon-paperclip:before {
	content: "\e608";
}
.enicon-drawer:before {
	content: "\e609";
}
.enicon-reply:before {
	content: "\e60a";
}
.enicon-reply-all:before {
	content: "\e60b";
}
.enicon-forward:before {
	content: "\e60c";
}
.enicon-user:before {
	content: "\e60d";
}
.enicon-users:before {
	content: "\e60e";
}
.enicon-user-add:before {
	content: "\e60f";
}
.enicon-vcard:before {
	content: "\e610";
}
.enicon-export:before {
	content: "\e611";
}
.enicon-location:before {
	content: "\e612";
}
.enicon-map:before {
	content: "\e613";
}
.enicon-compass:before {
	content: "\e614";
}
.enicon-location22:before {
	content: "\e615";
}
.enicon-target:before {
	content: "\e616";
}
.enicon-share:before {
	content: "\e617";
}
.enicon-sharable:before {
	content: "\e618";
}
.enicon-heart:before {
	content: "\e619";
}
.enicon-heart22:before {
	content: "\e61a";
}
.enicon-star:before {
	content: "\e61b";
}
.enicon-star22:before {
	content: "\e61c";
}
.enicon-thumbsup:before {
	content: "\e61d";
}
.enicon-thumbsdown:before {
	content: "\e61e";
}
.enicon-chat:before {
	content: "\e61f";
}
.enicon-comment:before {
	content: "\e620";
}
.enicon-quote:before {
	content: "\e621";
}
.enicon-house:before {
	content: "\e622";
}
.enicon-popup:before {
	content: "\e623";
}
.enicon-search2:before {
	content: "\e624";
}
.enicon-flashlight:before {
	content: "\e625";
}
.enicon-printer:before {
	content: "\e626";
}
.enicon-bell:before {
	content: "\e627";
}
.enicon-link:before {
	content: "\e628";
}
.enicon-flag:before {
	content: "\e629";
}
.enicon-cog:before {
	content: "\e62a";
}
.enicon-tools:before {
	content: "\e62b";
}
.enicon-trophy:before {
	content: "\e62c";
}
.enicon-tag:before {
	content: "\e62d";
}
.enicon-camera:before {
	content: "\e62e";
}
.enicon-megaphone2:before {
	content: "\e62f";
}
.enicon-moon:before {
	content: "\e630";
}
.enicon-palette:before {
	content: "\e631";
}
.enicon-leaf:before {
	content: "\e632";
}
.enicon-music2:before {
	content: "\e633";
}
.enicon-music22:before {
	content: "\e634";
}
.enicon-new:before {
	content: "\e635";
}
.enicon-graduation:before {
	content: "\e636";
}
.enicon-book:before {
	content: "\e637";
}
.enicon-newspaper:before {
	content: "\e638";
}
.enicon-bag:before {
	content: "\e639";
}
.enicon-airplane:before {
	content: "\e63a";
}
.enicon-lifebuoy:before {
	content: "\e63b";
}
.enicon-eye:before {
	content: "\e63c";
}
.enicon-clock2:before {
	content: "\e63d";
}
.enicon-microphone:before {
	content: "\e63e";
}
.enicon-calendar2:before {
	content: "\e63f";
}
.enicon-bolt:before {
	content: "\e640";
}
.enicon-thunder:before {
	content: "\e641";
}
.enicon-droplet:before {
	content: "\e642";
}
.enicon-cd:before {
	content: "\e643";
}
.enicon-briefcase:before {
	content: "\e644";
}
.enicon-air:before {
	content: "\e645";
}
.enicon-hourglass:before {
	content: "\e646";
}
.enicon-gauge:before {
	content: "\e647";
}
.enicon-language:before {
	content: "\e648";
}
.enicon-network:before {
	content: "\e649";
}
.enicon-key:before {
	content: "\e64a";
}
.enicon-battery:before {
	content: "\e64b";
}
.enicon-bucket:before {
	content: "\e64c";
}
.enicon-magnet:before {
	content: "\e64d";
}
.enicon-drive:before {
	content: "\e64e";
}
.enicon-cup2:before {
	content: "\e64f";
}
.enicon-rocket:before {
	content: "\e650";
}
.enicon-brush:before {
	content: "\e651";
}
.enicon-suitcase:before {
	content: "\e652";
}
.enicon-cone:before {
	content: "\e653";
}
.enicon-earth:before {
	content: "\e654";
}
.enicon-keyboard:before {
	content: "\e655";
}
.enicon-browser:before {
	content: "\e656";
}
.enicon-publish:before {
	content: "\e657";
}
.enicon-progress-3:before {
	content: "\e658";
}
.enicon-progress-2:before {
	content: "\e659";
}
.enicon-brogress-1:before {
	content: "\e65a";
}
.enicon-progress-0:before {
	content: "\e65b";
}
.enicon-sun:before {
	content: "\e65c";
}
.enicon-sun2:before {
	content: "\e65d";
}
.enicon-adjust:before {
	content: "\e65e";
}
.enicon-code:before {
	content: "\e65f";
}
.enicon-screen:before {
	content: "\e660";
}
.enicon-infinity:before {
	content: "\e661";
}
.enicon-light-bulb:before {
	content: "\e662";
}
.enicon-creditcard:before {
	content: "\e663";
}
.enicon-database:before {
	content: "\e664";
}
.enicon-voicemail:before {
	content: "\e665";
}
.enicon-clipboard:before {
	content: "\e666";
}
.enicon-cart:before {
	content: "\e667";
}
.enicon-box:before {
	content: "\e668";
}
.enicon-ticket:before {
	content: "\e669";
}
.enicon-rss:before {
	content: "\e66a";
}
.enicon-signal:before {
	content: "\e66b";
}
.enicon-thermometer:before {
	content: "\e66c";
}
.enicon-droplets:before {
	content: "\e66d";
}
.enicon-uniE66E:before {
	content: "\e66e";
}
.enicon-statistics:before {
	content: "\e66f";
}
.enicon-pie:before {
	content: "\e670";
}
.enicon-bars:before {
	content: "\e671";
}
.enicon-graph:before {
	content: "\e672";
}
.enicon-lock2:before {
	content: "\e673";
}
.enicon-lock-open:before {
	content: "\e674";
}
.enicon-logout:before {
	content: "\e675";
}
.enicon-login:before {
	content: "\e676";
}
.enicon-checkmark:before {
	content: "\e677";
}
.enicon-cross:before {
	content: "\e678";
}
.enicon-minus:before {
	content: "\e679";
}
.enicon-plus:before {
	content: "\e67a";
}
.enicon-cross2:before {
	content: "\e67b";
}
.enicon-minus2:before {
	content: "\e67c";
}
.enicon-plus2:before {
	content: "\e67d";
}
.enicon-cross3:before {
	content: "\e67e";
}
.enicon-minus3:before {
	content: "\e67f";
}
.enicon-plus3:before {
	content: "\e680";
}
.enicon-erase:before {
	content: "\e681";
}
.enicon-blocked:before {
	content: "\e682";
}
.enicon-info:before {
	content: "\e683";
}
.enicon-info2:before {
	content: "\e684";
}
.enicon-question:before {
	content: "\e685";
}
.enicon-help:before {
	content: "\e686";
}
.enicon-warning:before {
	content: "\e687";
}
.enicon-cycle:before {
	content: "\e688";
}
.enicon-cw:before {
	content: "\e689";
}
.enicon-ccw:before {
	content: "\e68a";
}
.enicon-shuffle:before {
	content: "\e68b";
}
.enicon-arrow:before {
	content: "\e68c";
}
.enicon-arrow2:before {
	content: "\e68d";
}
.enicon-retweet:before {
	content: "\e68e";
}
.enicon-loop:before {
	content: "\e68f";
}
.enicon-history:before {
	content: "\e690";
}
.enicon-back:before {
	content: "\e691";
}
.enicon-switch:before {
	content: "\e692";
}
.enicon-list:before {
	content: "\e693";
}
.enicon-add-to-list:before {
	content: "\e694";
}
.enicon-layout:before {
	content: "\e695";
}
.enicon-list2:before {
	content: "\e696";
}
.enicon-text:before {
	content: "\e697";
}
.enicon-text2:before {
	content: "\e698";
}
.enicon-document:before {
	content: "\e699";
}
.enicon-docs:before {
	content: "\e69a";
}
.enicon-landscape:before {
	content: "\e69b";
}
.enicon-pictures:before {
	content: "\e69c";
}
.enicon-video:before {
	content: "\e69d";
}
.enicon-music3:before {
	content: "\e69e";
}
.enicon-folder:before {
	content: "\e69f";
}
.enicon-archive:before {
	content: "\e6a0";
}
.enicon-trash:before {
	content: "\e6a1";
}
.enicon-upload:before {
	content: "\e6a2";
}
.enicon-download:before {
	content: "\e6a3";
}
.enicon-disk:before {
	content: "\e6a4";
}
.enicon-install:before {
	content: "\e6a5";
}
.enicon-cloud2:before {
	content: "\e6a6";
}
.enicon-upload2:before {
	content: "\e6a7";
}
.enicon-bookmark:before {
	content: "\e6a8";
}
.enicon-bookmarks:before {
	content: "\e6a9";
}
.enicon-book2:before {
	content: "\e6aa";
}
.enicon-play:before {
	content: "\e6ab";
}
.enicon-pause:before {
	content: "\e6ac";
}
.enicon-record:before {
	content: "\e6ad";
}
.enicon-stop:before {
	content: "\e6ae";
}
.enicon-next:before {
	content: "\e6af";
}
.enicon-previous:before {
	content: "\e6b0";
}
.enicon-first:before {
	content: "\e6b1";
}
.enicon-last:before {
	content: "\e6b2";
}
.enicon-resize-enlarge:before {
	content: "\e6b3";
}
.enicon-resize-shrink:before {
	content: "\e6b4";
}
.enicon-volume:before {
	content: "\e6b5";
}
.enicon-sound2:before {
	content: "\e6b6";
}
.enicon-mute:before {
	content: "\e6b7";
}
.enicon-flow-cascade:before {
	content: "\e6b8";
}
.enicon-flow-branch:before {
	content: "\e6b9";
}
.enicon-flow-tree:before {
	content: "\e6ba";
}
.enicon-flow-line:before {
	content: "\e6bb";
}
.enicon-flow-parallel:before {
	content: "\e6bc";
}
.enicon-arrow-left:before {
	content: "\e6bd";
}
.enicon-arrow-down:before {
	content: "\e6be";
}
.enicon-arrow-up-upload:before {
	content: "\e6bf";
}
.enicon-arrow-right:before {
	content: "\e6c0";
}
.enicon-arrow-left2:before {
	content: "\e6c1";
}
.enicon-arrow-down2:before {
	content: "\e6c2";
}
.enicon-arrow-up:before {
	content: "\e6c3";
}
.enicon-arrow-right2:before {
	content: "\e6c4";
}
.enicon-arrow-left3:before {
	content: "\e6c5";
}
.enicon-arrow-down3:before {
	content: "\e6c6";
}
.enicon-arrow-up2:before {
	content: "\e6c7";
}
.enicon-arrow-right3:before {
	content: "\e6c8";
}
.enicon-arrow-left4:before {
	content: "\e6c9";
}
.enicon-arrow-down4:before {
	content: "\e6ca";
}
.enicon-arrow-up3:before {
	content: "\e6cb";
}
.enicon-arrow-right4:before {
	content: "\e6cc";
}
.enicon-arrow-left5:before {
	content: "\e6cd";
}
.enicon-arrow-down5:before {
	content: "\e6ce";
}
.enicon-arrow-up4:before {
	content: "\e6cf";
}
.enicon-arrow-right5:before {
	content: "\e6d0";
}
.enicon-arrow-left6:before {
	content: "\e6d1";
}
.enicon-arrow-down6:before {
	content: "\e6d2";
}
.enicon-arrow-up5:before {
	content: "\e6d3";
}
.enicon-arrow-right6:before {
	content: "\e6d4";
}
.enicon-arrow-left7:before {
	content: "\e6d5";
}
.enicon-arrow-down7:before {
	content: "\e6d6";
}
.enicon-arrow-up6:before {
	content: "\e6d7";
}
.enicon-uniE6D8:before {
	content: "\e6d8";
}
.enicon-arrow-left8:before {
	content: "\e6d9";
}
.enicon-arrow-down8:before {
	content: "\e6da";
}
.enicon-arrow-up7:before {
	content: "\e6db";
}
.enicon-arrow-right7:before {
	content: "\e6dc";
}
.enicon-menu:before {
	content: "\e6dd";
}
.enicon-ellipsis:before {
	content: "\e6de";
}
.enicon-dots:before {
	content: "\e6df";
}
.enicon-dot:before {
	content: "\e6e0";
}
.enicon-cc:before {
	content: "\e6e1";
}
.enicon-cc-by:before {
	content: "\e6e2";
}
.enicon-cc-nc:before {
	content: "\e6e3";
}
.enicon-cc-nc-eu:before {
	content: "\e6e4";
}
.enicon-cc-nc-jp:before {
	content: "\e6e5";
}
.enicon-cc-sa:before {
	content: "\e6e6";
}
.enicon-cc-nd:before {
	content: "\e6e7";
}
.enicon-cc-pd:before {
	content: "\e6e8";
}
.enicon-cc-zero:before {
	content: "\e6e9";
}
.enicon-cc-share:before {
	content: "\e6ea";
}
.enicon-cc-share2:before {
	content: "\e6eb";
}
.enicon-danielbruce:before {
	content: "\e6ec";
}
.enicon-danielbruce2:before {
	content: "\e6ed";
}
.enicon-github:before {
	content: "\e6ee";
}
.enicon-github2:before {
	content: "\e6ef";
}
.enicon-flickr:before {
	content: "\e6f0";
}
.enicon-flickr2:before {
	content: "\e6f1";
}
.enicon-vimeo:before {
	content: "\e6f2";
}
.enicon-vimeo2:before {
	content: "\e6f3";
}
.enicon-twitter:before {
	content: "\e6f4";
}
.enicon-twitter2:before {
	content: "\e6f5";
}
.enicon-facebook:before {
	content: "\e6f6";
}
.enicon-facebook2:before {
	content: "\e6f7";
}
.enicon-facebook3:before {
	content: "\e6f8";
}
.enicon-googleplus:before {
	content: "\e6f9";
}
.enicon-googleplus2:before {
	content: "\e6fa";
}
.enicon-pinterest:before {
	content: "\e6fb";
}
.enicon-pinterest2:before {
	content: "\e6fc";
}
.enicon-tumblr:before {
	content: "\e6fd";
}
.enicon-tumblr2:before {
	content: "\e6fe";
}
.enicon-linkedin:before {
	content: "\e6ff";
}
.enicon-linkedin2:before {
	content: "\e700";
}
.enicon-dribbble:before {
	content: "\e701";
}
.enicon-dribbble2:before {
	content: "\e702";
}
.enicon-stumbleupon:before {
	content: "\e703";
}
.enicon-stumbleupon2:before {
	content: "\e704";
}
.enicon-lastfm:before {
	content: "\e705";
}
.enicon-lastfm2:before {
	content: "\e706";
}
.enicon-rdio:before {
	content: "\e707";
}
.enicon-rdio2:before {
	content: "\e708";
}
.enicon-spotify:before {
	content: "\e709";
}
.enicon-spotify2:before {
	content: "\e70a";
}
.enicon-qq:before {
	content: "\e70b";
}
.enicon-instagram:before {
	content: "\e70c";
}
.enicon-dropbox:before {
	content: "\e70d";
}
.enicon-evernote:before {
	content: "\e70e";
}
.enicon-flattr:before {
	content: "\e70f";
}
.enicon-skype:before {
	content: "\e710";
}
.enicon-skype2:before {
	content: "\e711";
}
.enicon-renren:before {
	content: "\e712";
}
.enicon-sina-weibo:before {
	content: "\e713";
}
.enicon-paypal:before {
	content: "\e714";
}
.enicon-picasa:before {
	content: "\e715";
}
.enicon-soundcloud:before {
	content: "\e716";
}
.enicon-mixi:before {
	content: "\e717";
}
.enicon-behance:before {
	content: "\e718";
}
.enicon-circles:before {
	content: "\e719";
}
.enicon-vk:before {
	content: "\e71a";
}
.enicon-smashing:before {
	content: "\e71b";
}