<!DOCTYPE HTML> {% load static %}

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>SAJE Hotel</title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'styles/style.css'%}">
</head>

<body class="login-page" data-setbg="{% static 'images/hotel.jpg'%}">
    <div class="login-container container">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-logo">
                <img src="{% static 'images/S.png'%}" class="auto" alt="">
            </div>
            <div class="login-form">
                <form action="login" method="POST">
                    {%csrf_token%}
                    <input type="text" name="username" placeholder="username">
                    <input type="password" name="password" placeholder="password">
                    <input type="submit" style="margin-left: 110px;">
                </form>
            </div>
        </div>
        <div>
            {% for message in messages %}
            <h3>{{message}} </h3>
            {% endfor %}
        </div>
    </div>
</body>

</html>