{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SAJE Manager: Room Service</title>
    <link rel="stylesheet" href="{% static '/assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/style.css' %}">
    <link rel="shortcut icon" href="{% static '/assets/images/saje.jpg' %}" />
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        function refresh() {
            $.ajax({
                url: "{% url '1' %}",
                success: function(data) {
                    $('#roomservice').replaceWith($('#roomservice', data));
                }
            });
        }
        $(function() {
            setInterval('refresh()', 1000);
        });
    </script>
    <style>
        .striker {
            text-decoration: line-through;
        }
    </style>
</head>

<body>
    <div class="container-scroller">
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="index.html"><img src="{% static 'assets/images/saje.jpg' %}" alt="logo" /></a>
                <!-- <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a> -->
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize"><span class="mdi mdi-menu"></span></button>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">

                            <div class="nav-profile-text">
                                <p class="mb-1 text-black">Admin</p>
                            </div>
                        </a>
                    </li>


                    <li class="nav-item dropdown">
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                            <h6 class="p-3 mb-0">Messages</h6>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <!-- <img src="assets/images/faces/face4.jpg" alt="image" class="profile-pic"> -->
                                </div>
                            </a>
                    </li>
                    <li class="nav-item nav-logout d-none d-lg-block">
                        <a class="nav-link" href="#">
                            <i class="mdi mdi-power"></i>
                        </a>
                    </li>
                </ul>
                </div>
        </nav>
        <!-- partial -->

        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <a href="#" class="nav-link">
                            <div class="nav-profile-image">
                                <!-- <img src="assets/images/faces/face1.jpg" alt="profile"> -->
                                <!-- <span class="login-status online"></span> -->
                                <!--change to offline or busy as needed-->
                            </div>
                            <div class="nav-profile-text d-flex flex-column">
                                <span class="font-weight-bold mb-2">Admin</span>
                            </div>
                            <!-- <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i> -->
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">
                            <span class="menu-title">Dashboard</span>
                            <i class="mdi mdi-home menu-icon"></i>
                        </a>
                    </li>


                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row" id="proBanner">
                        <div class="col-12">

                        </div>
                    </div>
                    <div class="page-header">
                        <h3 class="page-title">
                            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                  <i class="mdi mdi-home"></i>
                </span> Dashboard </h3>
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">

                            </ul>
                        </nav>
                    </div>
                    <div class="row">
                        <div class="col-md-4 stretch-card grid-margin">
                            <div class="card bg-gradient-danger card-img-holder text-white">
                                <div class="card-body">
                                    <img src="{% static 'assets/images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image" />
                                    <h4 class="font-weight-normal mb-3">No of rooms booked:
                                    </h4>
                                    <h2 class="mb-5">2</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 stretch-card grid-margin">
                            <div class="card bg-gradient-info card-img-holder text-white">
                                <div class="card-body">
                                    <img src="{% static 'assets/images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image" />
                                    <h4 class="font-weight-normal mb-3">Attendance :
                                    </h4>
                                    <h2 class="mb-5">4</h2>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 stretch-card grid-margin">
                            <div class="card bg-gradient-success card-img-holder text-white">
                                <div class="card-body">
                                    <img src="{% static 'assets/images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image" />
                                    <h4 class="font-weight-normal mb-3">Visitors Online <i class="mdi mdi-diamond mdi-24px float-right"></i>
                                    </h4>
                                    <h2 class="mb-5">95,5741</h2>
                                    <h6 class="card-text">Increased by 5%</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <a class="nav-link active" href="" id="room"><b>Room Service</b></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="./2" id="cab">Cab Service</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="./3" id="com">Complaint Service</a>
                                            </li>
                                        </ul>
                                        <br>
                                        <h2 class="card-title float-left">Messages/Notification :</h2><br><br>
                                        <div class="container" id="roomservice">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Service</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                {%for room in all_roomservice %} {%if room.completed %}
                                                <tbody>
                                                    <tr class="table-secondary">
                                                        <td class="striker">
                                                            {{room.name}}
                                                        </td>
                                                        <td>
                                                            {{room.service}}
                                                        </td>
                                                        <td>
                                                            <a href="{% url 'uncross1' room.id %}">Completed</a>
                                                        </td>
                                                        <td>
                                                            <a href="{% url 'delete1' room.id %}">Delete</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                {% else%}
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            {{room.name}}
                                                        </td>
                                                        <td>
                                                            {{room.service}}
                                                        </td>
                                                        <td>
                                                            <a href="{% url 'cross_off1' room.id %}">Pending</a>
                                                        </td>
                                                        <td>
                                                            <a href="{% url 'delete1' room.id %}">Delete</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                {% endif %} {%endfor%}
                                            </table>
                                        </div>
                                    </div>
                                    <canvas id="visit-sale-chart" class="mt-4"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>

</html>